body{
    background-color:rgb(242, 242, 247);
}
#menuBar{
    background-color:white;
    position:fixed;
    top:0;
    left:0;
    width:100%;   
    text-align:center; 
}

#menuBar a{
    margin-right:25px;
    font-size:15pt;
    color:rgb(99, 99, 102);
    text-decoration:none;
    color:black;
}
#middle{
    margin-top:70px;
    text-align:center;
    background-color:white;
    width:50%;
    margin-left:auto;
    margin-right:auto;
    border-bottom-left-radius:5%;
    border-bottom-right-radius:5%;
    border-top-left-radius:5%;
    border-top-right-radius:5%;
    border:100px solid white;
}
#middle h1{
    font-size:30pt
}
#middle p{
    font-size:15pt
}

#bottom{
    margin-top:50px;
    text-align:center;
    background-color:rgb(229, 229, 234);
    width:50%;
    margin-left:auto;
    margin-right:auto;
    border-bottom-left-radius:5%;
    border-bottom-right-radius:5%;
    border-top-left-radius:5%;
    border-top-right-radius:5%;
    border:100px solid rgb(229, 229, 234);
}
#bottom p{
    margin-left:auto;
    margin-right:auto;
    margin-bottom:30px;
    font-size:13pt;
    width:300px;
}
#bottom h2{
    margin-top:30px;
    font-size:25pt;
}
.seeMore{
    text-decoration:none;
    color:black;
    background-color:white;
    padding:10px;
    border:2px solid white;
    border-bottom-left-radius:20%;
    border-bottom-right-radius:20%;
    border-top-left-radius:20%;
    border-top-right-radius:20%;
}
pre {
    background: #111;
    color: #0f0;
    padding: 15px;
    border-radius: 8px;
    overflow-x: auto;
    font-family: Consolas, monospace;
}
#sourceCode{
    display:flex;
    gap:20px;
}
.codeBox{
    flex: 1;
    min-width: 300px;
}










